<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Baby build a book</title>

	<link href="https://fonts.googleapis.com/css?family=Capriola|Lato" rel="stylesheet">

	{{#each css}}
		<link rel="stylesheet" href="/assets/css/{{this}}" />
	{{/each}}

</head>

<body>
	{{{ body }}}

	<!-- Bootstrap core JavaScript -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="/assets/js/jquery.easing.min.js"></script>

	<!-- Modernizr -->
	<script type="text/javascript" src="/assets/js/modernizr.2.5.3.min.js"></script>

	<!-- Custom JavaScript for this theme -->
	{{#each js}}
		<script src="/assets/js/{{this}}"></script>
	{{/each}}
</body>

</html>