{{!-- This handlebars will be for listing every book that's in the database --}}

<table class="table table-hover table-dark">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Theme</th>
        <th scope="col">Story Title</th>
        <th scope="col">Character</th>
        <th scope="col"> Page 1</th>
        <th scope="col"> Page 2</th>
        <th scope="col"> Page 3</th>
        <th scope="col"> Page 4</th> 
        <th scope="col"> Page 5</th>
        <th scope="col"> Page 6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
        <td>001 from DB</td>
        <td>Park</td>
        <td>Allaire's Park Adventure</td>
        <td>Allaire</td>
        <td>Page 1 content</td>
        <td>Page 2 content</td>
        <td>Page 3 content</td>
        <td>Page 4 content</td>
        <td>Page 5 content</td>
        <td>Page 6 content</td>
    </tr>
    
  </tbody>
</table>