<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Baby Build a Book!</title>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Baby Build a Book!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#avatar">Choose your Avatar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#scenario">Choose your Storyline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#scenario">Your Books</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white top">
        <div class="container text-center">
            <h1>Welcome to Baby Build a Book!</h1>
            <p class="lead">A site where you can create personalized story for your one-of-a-kind child.</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Baby Build a Book</h2>
                    <p class="lead">Baby Build a Book was created with the belief that every kid deserves a story where she or he gets to
                        be star of the show!
                    </p>
                    <ul>
                        <li>Create a unique avatar that looks like your child.</li>
                        <li>Choose a fun theme for your story.</li>
                        <li>Enter information about some of your child's favorite things.</li>
                        <li>Generate your special story for your one-of-a-kind, favorite little human.</li>
                        <li>Print it out, and share with your family and friends!</li>
                    </ul>
                </div>
            </div>
            <a href="#avatar" class="btn btn-info js-scroll-trigger" style="margin-top: 5px;" role='button'>Next</a>
        </div>
    </section>

    <section id="avatar" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Build your avatar!</h2>
                    <p class="lead">Choose from a variety of characteristics to build an avatar that looks like your child.
                    </p>
                    <select onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">
                        <option value="https://2.bp.blogspot.com/-Qp-j3HWVTBY/WlvfAVu0fcI/AAAAAAABOzI/UEPHIlE2xukJFNHz0J_JHcj2YqPI1_OCACKgBGAs/s1600/mia-icon_tcm169-260913.png"
                            width="100" alt="" class="image center-block">Mia</option>
                        <option value="https://www.fisher-price.com/en_US/Images/eddie-icon_tcm169-260919.png" alt="" class="image center-block">Josh</option>
                        <option value="http://richardholt.co/wp-content/uploads/2018/03/little-people-cartoon-preschool-to-fancy-draw-paint-koby-icon-tcm169-260918.png"
                            alt="" class="image center-block">Eduardo</option>
                        <option value="https://www.fisher-price.com/en_CA/Images/tessa-icon_tcm219-260920.png" width="100" alt="" class="image center-block">Abby</option>
                        <option value="https://www.fisher-price.com/en_CA/Images/sofie-icon_tcm219-260912.png" width="100" alt="" class="image center-block">Sophie</option>
                        <option value="https://2.bp.blogspot.com/-xcebQlkpx48/WlvfAYeDYqI/AAAAAAABOzI/dPnLnmFmFRcEcoqXRFXy42dMTEgkg0gDgCKgBGAs/s1600/Jack-icon_tcm169-307045.png"
                            width="100" alt="" class="image center-block">Francois</option>
                        <option value="https://www.fisher-price.com/en_US/Images/Emma-icon_tcm169-307044.png " width="100" alt="" class="image center-block">Elsa</option>
                    </select>
                    <br>
                    <br>
                    <img id="imageToSwap" class="profile center-block" src="https://i.pinimg.com/originals/84/dc/21/84dc211832b0edb607b755c934dcd1de.jpg"
                        height="300" center>
                </div>
                <br>
            </div>
            <a href="#scenario" class="btn btn-info js-scroll-trigger" style="margin-top: 5px;" role='button'>Next</a>
        </div>
    </section>

    <form class="create-form">
        <section id="scenario">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Choose your storyline!</h2>
                        <p class="lead">Your child's adventure can take place anywhere!</p>

                        <div class="container">
                            <div id="theme">

                                <input type="radio" name="theme" id="rain-btn" value="rainforest" />
                                <label for="rain-btn">
                                    <img src="/assets/img/rainforest.jpg" width="400" alt="" class="center-block">
                                </label>

                                <input type="radio" name="theme" id="beach-btn" value="beach" />
                                <label for="beach-btn">
                                    <img src="/assets/img/beach.jpg" width="400" alt="" class="center-block">
                                </label>

                                <input type="radio" name="theme" id="space-btn" value="space" />
                                <label for="space-btn">
                                    <img src="/assets/img/space.jpg" width="400" alt="" class="center-block">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="inputs">
            <center>

                <br>
                <br>
                <h1>Fill out the information below to create your unique story.</h1>
                <br>

                <div class="row uniform 50%">

                    <br>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mx-auto"></div>

                            <div class="form-group  col-lg-12 row">
                                <label class="col-lg-4 col-form-label">Child's Name</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="name" placeholder="Child's Name">
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="form-group col-lg-12  row">
                                <label class="col-lg-4 col-form-label">Best Friend's Name</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="bff" placeholder="Best Friend's Name">
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="form-group col-lg-12 row">
                                <label class="col-lg-4 col-form-label">Favorite Animal</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="animal" placeholder="Favorite Animal">
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="form-group col-lg-12 row">
                                <label class="col-lg-4 col-form-label">Favorite Character</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="character" placeholder="Favorite Character">
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="form-group  col-lg-12  row">
                                <label class="col-lg-4 col-form-label">Favorite Color</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="color" placeholder="Favorite Color">
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="form-group  col-lg-12 row">
                                <label class="col-lg-4 col-form-label">Favorite Food</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="food" placeholder="Favorite Food">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group col-lg-12 row">
                                <label class="col-lg-4 col-form-label">Favorite Activity</label>
                                <div class="col-lg-8 mx-auto">
                                    <input type="text" class="form-control" id="activity" placeholder="Favorite Activity">
                                </div>
                            </div>

                            <br>
                            <br>
                            
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        <input type="submit" value="Create Your Story" class="special" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </center>

        </section>

    </form>


</body>

<footer class="py-5 bg-dark">
    <div class="container">

        <p class="m-0 text-center text-white">Copyright &copy; Baby Build a Book 2017</p>

    </div>
    <!-- /.container -->
</footer>

</html>