<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Survey</title>

<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
        
<!-- Code for filling out form (Kid's name, parents' names, pet's name, favorite food, etc.) -->



   <!-- Offer a set of characters to choose from  -->
        <h3>Select your child's avatar!</h3>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <select onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">
        <option value="https://2.bp.blogspot.com/-Qp-j3HWVTBY/WlvfAVu0fcI/AAAAAAABOzI/UEPHIlE2xukJFNHz0J_JHcj2YqPI1_OCACKgBGAs/s1600/mia-icon_tcm169-260913.png" width="100" height="500" alt="" class="image">Mia</option>
        <option value="https://www.fisher-price.com/en_US/Images/eddie-icon_tcm169-260919.png" width="100" height="500" alt="" class="image">Josh</option>
        <option value="http://richardholt.co/wp-content/uploads/2018/03/little-people-cartoon-preschool-to-fancy-draw-paint-koby-icon-tcm169-260918.png" width="100" height="500" alt="" class="image">Eduardo</option>
        <option value="https://www.fisher-price.com/en_CA/Images/tessa-icon_tcm219-260920.png" width="100" height="500" alt="" class="image">Abby</option>
        <option value="https://www.fisher-price.com/en_CA/Images/sofie-icon_tcm219-260912.png" width="100" height="500" alt="" class="image">Sophie</option>
        <option value="https://2.bp.blogspot.com/-xcebQlkpx48/WlvfAYeDYqI/AAAAAAABOzI/dPnLnmFmFRcEcoqXRFXy42dMTEgkg0gDgCKgBGAs/s1600/Jack-icon_tcm169-307045.png" width="100" height="500" alt="" class="image">Francois</option>
        <option value="https://www.fisher-price.com/en_US/Images/Emma-icon_tcm169-307044.png " width="100" height="500" alt="" class="image">Elsa</option>
    </select>
    <br><br>
    <img id="imageToSwap" class="profile" src="https://i.pinimg.com/originals/84/dc/21/84dc211832b0edb607b755c934dcd1de.jpg" width="400" height="300" center>

<!-- Offer a set of story themes to choose from -->
    <!-- Format the themes with hover effect -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .container {
      position: relative;
      width: 50%;
    }
    
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
    }
    
    .container:hover .overlay {
      opacity: 1;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
</style>
</head>
<body>

<h2>Choose a theme for your story!</h2>
<p>Hover over the images to read the description.</p>

<div class="container">
  <img style="border:10px solid navy;" 
        src="http://www.childrens-stories.net/new-childrens-stories/the~jealous~tiger_godwin~temisa_05_centre.jpg" width="400" height="300" alt="" class="image">
  <div class="overlay">
    <div class="text">Rainforest Adventure!</div>
  </div>
</div>

<div class="container">
        <img style="border:10px solid navy;" 
              src="http://freedesignfile.com/upload/2012/09/sun-beach-5.jpg" width="400" height="300" alt="" class="image">
        <div class="overlay">
          <div class="text">A Day on the Beach!</div>
        </div>
      </div>

 <div class="container">
         <img style="border:10px solid navy;" 
               src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/72/84/4657b98ace28ed4.jpg" width="400" height="800" alt="" class="image">
         <div class="overlay">
           <div class="text">Outer Space, Here I Come!</div>
        </div>
        </div>
<div class="container">
        <img style="border:10px solid navy;" 
              src="https://s-media-cache-ak0.pinimg.com/736x/69/d5/5f/69d55f65ab05873a476c16fa24b4a8d4.jpg" width="400" height="300" alt="" class="image">
        <div class="overlay">
            <div class="text">Summertime in the Park!</div>
        </div>
        </div>   

<!-- Code for submitting user input from home page to generate story -->


</script>
</body>