body {
    background-image: url("/assets/img/background2.jpg");
    background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-container {
    margin-bottom: 100px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.avatar-image {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 100px;
    height: auto;
}